

{%block stars%}
    <i class="point"></i> 
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>
    <i class="point"></i>


    <!-- Глубокие туманности -->
<div class="nebula-deep-1"></div>
<div class="nebula-deep-2"></div>
<div class="dark-matter"></div>
{%endblock%}