<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/header/_authentication.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/header/_effects.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/header/_accaunt.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/header/_main.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/body/_flash.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" >
    {%block style%}{%endblock%}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>{%include 'user/_header_big_window.html'%}</header>
    <div class="page">
        {%include 'main/_flash.html'%}
        <main class="content">
            
            {% block content %}{% endblock %}
        </main>
    </div>

    <script src="{{url_for('static', filename='js/body/_flash.js')}}"></script>

</body>
</html>