{% extends 'main/main.html' %}

{% block title %}Мой аккаунт{% endblock %}

{%block style%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/blocks/body/accaunt.css')}}">
{%endblock%}

{% block content %}
<div class="main-container">
    <div class="accaunt-container">
        <div class="info-container">
            <button class="user-avatar">
                <img src="">
            </button>
        </div>

        <div class="main_container">
            <div class="photo-container">
                <form class="photo-form">
                    <button type="button" class="close-button">&times;</button>
                    <p class="heading">Аватар</p>
                    {{form.hidden_tag()}}

                    <div class="input-container">
                        
                        <div class="file-input-wrapper">
                            <input class="photo-input" 
                            type="file" 
                            accept="image/*" 
                            id="fileInput">
                            <label for="fileInput" class="file-input-label">
                                <span class="file-input-text">Нажмите чтобы выбрать изображение</span>
                            </label>
                        </div>

                        <div class="photo-button">
                            <button class="save_button">Сохранить</button>
                            <button class="cancel_button">Отмена</button>
                        </div>
                        <button class="deleate_button">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="static/js/body/accaunt.js"></script>
{% endblock %}